<div class="span12 basic-form-page">
  <div class="box form-container">
    <h3><i class="icon-th-large"></i>帳號管理 - <%= @user.account %></h3>
    <%= simple_form_for(@user, :url => change_password_user_path(@user), :html => {:class => "simple_form form-horizontal form-register", :method => :put}) do |f| %>
    <div class="control-group">
      <%= f.label :password, "新密碼", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :required => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "確認新密碼", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :required => true %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= link_to("返回上頁", edit_user_path(@user), :class => "btn btn-info") %>
        <%= f.submit("儲存", :disable_with => '儲存中...', :class => "btn btn-primary") %>
      </div>
    </div>
    <% end %>
    <br>
  </div>
</div>