<div class="span12 basic-form-page">
  <div class="box form-container">
    <h3><i class="icon-th-large"></i>帳號管理 - <%= @user.account %></h3>
    <%= simple_form_for(@user, :url => user_path(@user), :html => {:class => "simple_form form-horizontal form-register", :method => :put}) do |f| %>
    <div class="control-group">
      <%= f.label :name, "姓名", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :required => true %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= link_to("變更密碼", edit_password_user_path(@user), :class => "btn btn-warning") %>
        <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
      </div>
    </div>
    <% end %>
    <br>
  </div>
</div>