<!-- <div class="navbar navbar-fixed-top ">
  <div class="navbar-inner top ">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>
      <%# render :partial => "common/search_form" %>
      <div class="nav-collapse">  
        <%= render_list :class => "nav" do |li|
          li << link_to("Link-1","#")
          li << link_to("Link-2","#")
          li << link_to("Link-3","#")
        end %>
        <%= render :partial => "common/user_nav"%>
      </div>
    </div>
  </div>
  <%= yield :submenu %>
</div>
 -->

<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>
      <ul class="nav" role="navigation">
        <li class="dropdown">
          <%= link_to(users_path, :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) do %>
            帳號管理<b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li role="presentation"><%= link_to("新增帳號", new_user_path) %></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to(users_path, :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) do %>
            資料管理<b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">聯絡人管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">檔案管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">分類管理</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to(users_path, :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) do %>
            專案管理<b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">專案資料管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">工作清單</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">報價單</a>
        </li>
        <li class="dropdown">
          <%= link_to("公司信箱", "http://mail.damedia.com.tw") %>
        </li>
      </ul>
      <%= render :partial => "common/user_nav"%>
    </div>
  </div>
</div>